# ------------------------
# Python 일반 ignore
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.so
*.log
*.tmp

# virtual env
.venv/
env/
venv/
*.env

# Jupyter
.ipynb_checkpoints/

# ------------------------
# OS / IDE
# ------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# ------------------------
# Build / package
# ------------------------
*.egg
*.egg-info/
dist/
build/
.eggs/

# ------------------------
# Checkpoints / model outputs
# ------------------------
*.pth
*.pth.tar
*.ckpt
*.pt
*.h5
*.onnx

# TIMM train logs
events.out.tfevents.*

# ------------------------
# Experiment results
# ------------------------
results/
runs/
outputs/
logs/
checkpoints/
weights/
exp/
exp*/

# ------------------------
# Images / datasets
# ------------------------
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.gif

# except repository guide images
!docs/*.png
!docs/images/*

# raw datasets
dataset/
datasets/
data/
mvtec_exp/mvtec_ad_2/
mvtec_ad_2/

# ------------------------
# Archive files
# ------------------------
*.zip
*.tar
*.tar.gz
*.7z

# ------------------------
# CNN / MVTec custom exclusions
# ------------------------

# MVTec converted dataset
#CNN/mvtec_exp/*_cls/
#CNN/mvtec_exp/*_cls/

# Sample images & CAM outputs
#CNN/mvtec_exp/sample_images/
#CNN/mvtec_exp/sample_cam/

# Training outputs inside mvtec_exp
#CNN/mvtec_exp/results/
#CNN/mvtec_exp/output/

3DGS/SinNeRF/
3DGS/SpineCT/


# ------------------------
# Submodule handling
# ------------------------

# Ignore internal files of pytorch-image-models
# (we only want it as a submodule, not full tracking)
CNN/pytorch-image-models/*
!CNN/pytorch-image-models/.git
!CNN/pytorch-image-models/.gitmodules

# ------------------------
# Misc
# ------------------------
*.bak
*.old
*.orig

